body{
    background: #f6f9fc;
    overflow-x: hidden;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
}
.account-block {
    padding: 0;
    background-image: url('/static/loginBackground.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    position: relative;
    background-position: 7% center;
}
.account-block .overlay {
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.4);
}
.account-block .account-testimonial {
    text-align: center;
    color: #fff;
    position: absolute;
    margin: 0 auto;
    padding: 0 1.75rem;
    bottom: 3rem;
    left: 0;
    right: 0;
}

.text-theme {
    color: #5369f8 !important;
}

.btn-theme {
    background-color: #5369f8;
    border-color: #5369f8;
    color: #fff;
}

@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,400i,500');

/* Toggle Styles */

#viewport {
  padding-left: 250px;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

#content {
  width: 100%;
  position: relative;
  margin-right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

#centered-box {
  background-color: #b1bcce;
  border-radius: 10px;
  padding: 20px;
  max-width: 80%;
  max-height: 80vh;
  min-width: 33%;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.tbodycontainer { 
  max-height: 400px; 
  width: 100%; 
  margin: 0; 
  overflow-y: auto; 
}
.table-scrollable { 
  margin: 0; 
  padding: 0; 
}

.select2-container {
  width: 100% !important;
}

/* Sidebar Styles */

#sidebar {
  z-index: 1000;
  position: fixed;
  left: 250px;
  width: 250px;
  height: 100%;
  margin-left: -250px;
  overflow-y: auto;
  background: #37474F;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

#sidebar header {
  background-color: #263238;
  font-size: 20px;
  line-height: 52px;
  text-align: center;
}

#sidebar header a {
  color: #fff;
  display: block;
  text-decoration: none;
}

#sidebar header a:hover {
  color: #fff;
}

#sidebar .nav {
  width: 100%;
}

#sidebar .nav-item {
  width: 100%;
}

#sidebar .nav-link {
  width: 100%;
}

#sidebar .nav a {
  background: none;
  border-bottom: 1px solid #455A64;
  color: #CFD8DC;
  font-size: 14px;
  padding: 16px 24px;
}

#sidebar .nav a:hover {
  background: none;
  color: #ECEFF1;
}

#sidebar .nav a i {
  margin-right: 16px;
}