{% extends "base.html" %}
{% block title %}Home Page{% endblock %}
{% set show_sidebar = True %}
{% block content %}

<div id="viewport">
    <!-- Content -->
    <div id="content">
      <div id="centered-box">
        <form method="POST">
          <h2 class="text-center">Запрос</h2>
          <div class="mb-3">
            <label for="patientname" class="form-label">Пациент</label>
            <input type="text" class="form-control" id="patientname" placeholder="Иван Иванов Иванович">
          </div>
          <div class="mb-3">
            <label for="symptoms" class="form-label">Симптомы</label>
            <select class="select2-multiple form-control" id="symptoms" data-placeholder="Выберите что-нибудь" multiple >
              <option>Высокая температура</option>
              <option>Кашель</option>
              <option>Насморк</option>
            </select>
          </div>
          <div class="text-end">
            <button type="submit" class="btn btn-primary">Отправить</button>
          </div>
        </form>
      </div>
    </div>
  </div>
{% endblock %}