{% extends "base.html" %}
{% block title %}Home Page{% endblock %}
{% set show_sidebar = True %}
{% block content %}

<div id="viewport">
    <!-- Content -->
    <div id="content">
      <div id="centered-box">
        <form method="POST" action="/process_neural_network">
          <h2 class="text-center">Запрос</h2>
          <div class="mb-3">
            <label for="patientname" class="form-label">Пациент</label>
            <select id="patientname" name="patientname" class="form-select" data-placeholder="Выберите пациента" >
              {% for patient in patients %}
                <option value="{{patient}}">{{patient}}</option>
              {% endfor %}
          </select>
          </div>
          <div class="mb-3">
            <label for="symptoms" class="form-label">Симптомы</label>
            <select class="form-select" id="symptoms" data-placeholder="Выберите что-нибудь" multiple >
              {% for symptom in symptoms %}
                <option value="{{symptom}}">{{symptom}}</option>
              {% endfor %}
            </select>
          </div>
          <div class="text-end">
            <button type="submit" class="btn btn-primary">Отправить</button>
          </div>
        </form>
      </div>
    </div>
  </div>
{% endblock %}